<p class="instructions">Instructions: Score each of the options below.</p>
<div [formGroup]="results">
    <table formArrayName="resultsArray">
        <tr>
            <th>Option</th>
            <th *ngFor="let score of scores">{{score}}</th>
        </tr>
        <tr *ngFor="let option of options; let i=index">
            <td class="option">{{option}}</td>
            <td *ngFor="let score of scores">
                <input type="radio" [formControlName]="i" [value]="score" />
            </td>
        </tr>
    </table>
    <span class="button-centered">
        <button class="generic-button" (click)="onVote()" [disabled]="!results.valid">Vote</button>
    </span>
</div>
