<h3><a (click)="expand = !expand">Owner Options</a></h3>
<span class="panel" *ngIf="expand">
    <button class="generic-button" (click)="finish()" *ngIf="!finished">Conclude Poll</button>
    &nbsp;
    <button class="red-button" (click)="kill()">Delete Poll</button>
</span>

<span class="panel" *ngIf="expand && !finished">
    <button class="generic-button" *ngIf="!webhook" (click)="onSetWebhook()">Add Webhook</button>
    <button class="generic-button" *ngIf="webhook">Change Webhook</button>
    &nbsp;
    <button class="generic-button" *ngIf="webhook" (click)="onRemoveWebhook()">Remove Webhook</button>
</span>

<h4 *ngIf="expand"><a (click)="toggleVoters()">Voters</a></h4>
<span class="voters" *ngIf="showVoters">
    <table *ngIf="(voters | async) as voters; else loading">
        <tr><th colspan="2">Voters</th></tr>
        <tr *ngFor="let voter of voters">
            <app-voter-row [voter]="voter"></app-voter-row>
        </tr>
    </table>
    <ng-template #loading><p>Loading...</p></ng-template>
</span>
