@media screen and (min-width: 485px) {

}
@media screen and (max-width: 485px) {
    .desktop-divider {
        display: none;
    }
}

h1 {
    color: #FFFFFF;
    text-align: center;
}
header {
    background-color: #23272A;
    border-radius: 15px;
}
.prerelease {
    color: darkorange;
    text-align: center;
    font-weight: bold;
}
nav {
    color: #FFFFFF;
    text-align: center;
}
a {
    text-decoration: underline;
}
a:hover {
    color: orangered;
    cursor: pointer;
}
