@media screen and (min-width: 485px) {
    nav {
        text-align: center;
    }
    a {
        text-decoration: underline;
    }
    a:hover {
        color: orangered;
        cursor: pointer;
    }
    a.toggle-expanded, a.toggle-collapsed {
        display: none;
    }
}
@media screen and (max-width: 485px) {
    .desktop-divider {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    a {
        background-color: #7289DA;

        padding: 2.5px;

        border-style: solid;
        border-color: #23272A;
        border-width: 1px;
    }
    a.last {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    a.collapsed {
        display: none;
    }
    a.toggle-collapsed {
        border-radius: 5px;
    }
    a.toggle-expanded {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: orangered;
    }
}

h1 {
    color: #FFFFFF;
    text-align: center;
}
header {
    background-color: #23272A;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.prerelease {
    color: darkorange;
    text-align: center;
    font-weight: bold;
}
nav {
    color: #FFFFFF;
    text-align: center;
}
