<header>
    <h1>Electorate</h1>
    <nav>
        <a [class]="navToggleClass()" (click)="toggleMenu()">Menu</a>
        <a [class]="navFirstClass()" (click)="navigateToDashboard()">Dashboard</a>
        <a [class]="navClass()" (click)="navigateToCreator()">Create Poll</a>
        <a [class]="navClass()" (click)="navigateToVotingMethods()">Voting Methods</a>
        <ng-container *ngIf="loggedIn else loggedOut">
            <a [class]="navClass()" (click)="navigateToHistory()">Vote History</a>
            <a [class]="navLastClass()" (click)="logout()">Logout</a>
        </ng-container>
        <ng-template #loggedOut>
            <a [class]="navLastClass()" (click)="navigateToHistory()">Vote History</a>
        </ng-template>
    </nav>
    <p class="prerelease">BETA v0.13.2</p>
</header>
