<header>
    <h1>Electorate</h1>
    <nav>
        <a class="menu-toggle" (click)="toggleMenu()">Menu</a>
        <a (click)="navigateToDashboard()">Dashboard</a>
        <span class="desktop-divider"> | </span>
        <a (click)="navigateToCreator()">Create Poll</a>
        <span class="desktop-divider"> | </span>
        <a>Information</a>
        <span class="desktop-divider"> | </span>
        <a (click)="navigateToHistory()">Vote History</a>
        <span class="desktop-divider"> | </span>
        <a (click)="logout()">Logout</a>
    </nav>
    <p class="prerelease">BETA v0.9.0</p>
</header>
