div {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 2.5px;
    border-radius: 2.5px;
    text-align: center;
    vertical-align: middle;
    background-color: #7289DA;
    cursor: all-scroll;
}
div:hover {
    background-color: orangered
}
div.selected {
    cursor: pointer;
}
input {
    float: left;
    cursor: pointer;
}
