button {
    background-color: #99AAB5;
    color: #FFFFFF;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 100%;
    font-size: 12pt;
    font-family: Nunito, sans-serif;
    transition-duration: 0.25s;
}
button:hover {
    background-color: #7289DA;
}

button.selected {
    background-color: #7289DA
}
