<div>
    <h3>{{name}}</h3>
    <p *ngIf="alternateNames" class="alternate">
        <span class="front">Also Known As: </span>
        {{alternateNames}}
    </p>
    <p>
        <span class="front">How It Works For Voters: </span>
        {{voterSummary}}
    </p>
    <p>
        <span class="front">How A Winner Is Reached: </span>
        {{resolveSummary}}
    </p>

    <h4>Strengths</h4>
    <ul>
        <li *ngFor="let strength of strengths">
            <span class="front">{{strength.name}}: </span>
            {{strength.description}}
        </li>
    </ul>

    <h4>Weaknesses</h4>
    <ul>
        <li *ngFor="let weakness of weaknesses">
            <span class="front">{{weakness.name}}: </span>
            {{weakness.description}}
        </li>
    </ul>

    <span *ngIf="implNotes">
        <h4><a (click)="toggleImplNotes()">Implementation Notes</a></h4>
        <ul *ngIf="showImplNotes">
            <li *ngFor="let note of implNotes">
                {{note}}
            </li>
        </ul>
    </span>
</div>
