div {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #99AAB5;
    border-radius: 5px;
}
h3 {
    margin-top: 0px;
    color: #FFFFFF;
    text-align: center;
}
h4, li {
    color: #FFFFFF;
}
a {
    text-decoration: underline;
}
a:hover {
    color: orangered;
    cursor: pointer;
}
.alternate {
    text-align: center;
}
.front {
    font-weight: bold;
}
