div.create {
    color: #FFFFFF;
}
section {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 {
    text-align: center;
    margin-top: 0px;
}
p.error {
    text-align: center;
}
section.voting-method-section {
    display: grid;
    grid-template-columns: 252px auto 252px;
    justify-items: center;
    align-items: center;
}
h3.voting-method-header {
    grid-column-start: 1;
    grid-column-end: span 3;
}
