<div class="create main-box">
    <h2>Create Poll</h2>

    <form [formGroup]="createForm">
        <!-- Basic information section -->
        <section>
            <h3>Basic Information</h3>
            <label>Name: <input type="text" formControlName="name" required /></label>
            <br />
            <label>Description:<br/><textarea formControlName="description"></textarea></label>
        </section>

        <!-- Options section -->
        <section formArrayName="options">
            <h3>Options</h3>

            <label *ngFor="let option of options.controls; let i=index">
                Option:
                <input type="text" [formControlName]="i" />
                <br />
            </label>
            <button (click)="addOption()">Add Option</button>
        </section>

        <!-- Voting method section -->
        <section>
            <h3>Voting Method</h3>
        </section>

        <button
            class="generic-button"
            type="submit"
            [disabled]="!createForm.valid">
            Create
        </button>
    </form>
</div>
