<p class="instructions">
    Instructions: Rank as many of the options below as you'd like.
    Omitted options will treated as equally last.
</p>
<div class="ranked-choice">
    <div class="column"
        cdkDropList
        #rankedList="cdkDropList"
        [cdkDropListConnectedTo]="omittedList"
        (cdkDropListDropped)="onRankedDrop($event)">
        <h4>Ranked Options</h4>
        <p class="rc-instructions">Click buttons to rerank or omit</p>
        <span class="option-list">
            <span class="ranked-option option-pane" *ngFor="let option of choice; let i=index" cdkDrag>
                <!-- <a class="rank-button" *ngIf="i>0" (click)="raiseOption(i)">&#x25B2;</a>
                <a class="rank-button" *ngIf="i<choice.length-1" (click)="lowerOption(i)">&#x25BC;</a> -->
                {{option}}
                <a class="unrank-button rank-button" (click)="unrankOption(i)">&#x2716;</a>
            </span>
        </span>
    </div>
    <div class="column">
        <h4>Omitted Options</h4>
        <p class="rc-instructions">Click to rank options</p>
        <span class="option-list"
            cdkDropList
            #omittedList="cdkDropList"
            [cdkDropListConnectedTo]="rankedList"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="onOmittedDrop($event)">
            <a class="option-pane omitted-option" *ngFor="let option of omittedOptions()" (click)="appendOption(option)" cdkDrag>
                {{option}}
            </a>
        </span>
    </div>
</div>
<span class="button-centered">
    <button class="generic-button" [disabled]="choice.length == 0" (click)="onVote()">Vote</button>
</span>
