<div class="ranked-choice">
    <div class="column">
        <h4>Ranked Options</h4>
        <p class="instructions">Click buttons to rerank or omit</p>
        <span class="option-list">
            <span class="ranked-option option-pane" *ngFor="let option of choice; let i=index">
                <a class="rank-button" *ngIf="i>0" (click)="raiseOption(i)">&#x25B2;</a>
                <a class="rank-button" *ngIf="i<choice.length-1" (click)="lowerOption(i)">&#x25BC;</a>
                {{option}}
                <a class="unrank-button rank-button" (click)="unrankOption(i)">&#x2716;</a>
            </span>
        </span>
    </div>
    <div class="column">
        <h4>Omitted Options</h4>
        <p class="instructions">Click to rank options</p>
        <span class="option-list">
            <a class="option-pane omitted-option" *ngFor="let option of omittedOptions()" (click)="appendOption(option)">
                {{option}}
            </a>
        </span>
    </div>
</div>
