<p class="instructions">
    Instructions: Rank as many of the options below as you'd like.
    Omitted options will treated as equally last.
</p>
<div class="ranked-choice" cdkDropListGroup>
    <div class="column"
        cdkDropList
        (cdkDropListDropped)="onRankedDrop($event)">
        <h4>Ranked Options</h4>
        <p class="rc-instructions">
            Drag to rerank or omit.
            <ng-container *ngIf="allowEquals">
                Select to mark/unmark equal.
            </ng-container>
        </p>
        <span class="option-list">
            <ng-container *ngFor="let option of choice; index as i">
                <app-ranked-option *ngIf="!isArray(option)"
                    cdkDrag
                    cdkDragBoundary=".ranked-choice"
                    [cdkDragDisabled]="selectionMode != '' && i >= startIndex && i <= endIndex"
                    [option]="option" [index]="i"
                    [allowEquals]="allowEquals"
                    [selectionMode]="selectionMode" [startIndex]="startIndex" [endIndex]="endIndex"
                    (selected)="onSelection($event, i)"
                    (deselected)="onDeselection($event, i)">
                </app-ranked-option>
                <app-ranked-option-list *ngIf="isArray(option)"
                    [options]="option" [index]="i"
                    cdkDrag
                    [cdkDragDisabled]="selectionMode != '' && i >= startIndex && i <= endIndex"
                    [selectionMode]="selectionMode" [startIndex]="startIndex"
                    (selected)="onSelection($event, i)"
                    (deselected)="onDeselection($event, i)">
                </app-ranked-option-list>
            </ng-container>
        </span>
        <span *ngIf="allowEquals && choice.length > 0" class="button-centered">
            <button class="generic-button"
                *ngIf="selectionMode == 'equal'"
                [disabled]="startIndex == endIndex"
                (click)="onMakeEqual()">
                Make Equal
            </button>
            <button class="generic-button"
                *ngIf="selectionMode == 'unequal'"
                (click)="onMakeUnequal()">
                Make Unequal
            </button>
        </span>
    </div>
    <div class="column"
        cdkDropList
        (cdkDropListDropped)="onOmittedDrop($event)">
        <h4>Omitted Options</h4>
        <p class="rc-instructions">
            Click or drag to rank options.
        </p>
        <span class="option-list">
            <a class="option-pane omitted-option"
                *ngFor="let option of omittedOptions"
                (click)="appendOption(option)"
                cdkDrag
                cdkDragBoundary=".ranked-choice">
                {{option}}
            </a>
        </span>
    </div>
</div>
<span class="button-centered">
    <button class="generic-button" [disabled]="choice.length == 0" (click)="onVote()">Vote</button>
</span>
