table, td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #99AAB5;
}
table {
    border-collapse: collapse;
}
td, th {
    text-align: right;
    padding: 3px;
}
th.row-header {
    width: auto;
    white-space: nowrap;
}
th.col-header {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.win {
    color: #006100;
    background-color: #C6EFCE;
}
.tie {
    color: #9C5700;
    background-color: #FFEB9C;
}
.loss {
    color: #9C0006;
    background-color: #FFC7CE;
}
.same {
    background-color: #99AAB5;
}
