<div class="poll main-box">
    <!-- If not authorized yet -->
    <app-auth-required *ngIf="error == 401"></app-auth-required>

    <!-- While still waiting for server -->
    <h2 *ngIf="!poll && error == null">Loading...</h2>

    <!-- Error handling -->
    <h2 *ngIf="error == 0">Unable to Reach Server</h2>
    <span *ngIf="error == 403">
        <h2>Forbidden</h2>
        <p>You are not permitted to access this poll.</p>
    </span>
    <h2 *ngIf="error == 404">Poll Not Found</h2>
    <h2 *ngIf="error == 500">Server Error</h2>
    <h2 *ngIf="![null, 0, 401, 403, 404, 500].includes(error)">Unknown Error: {{error}}</h2>

    <!-- Main content -->
    <span *ngIf="poll">
        <h2>{{poll.name}}</h2>
        <p *ngIf="poll.description" class="desc">{{poll.description}}</p>

        <!-- Option list for those unable to vote. -->
        <app-nonvoter
            *ngIf="!poll.can_vote && !poll.finished"
            [options]="poll.options"
            [choice]="poll.choice"
            [method]="poll.method">
        </app-nonvoter>

        <!-- Option list for finished polls -->
        <app-results
            *ngIf="poll.finished"
            [results]="poll.results"
            [method]="poll.method"
            [options]="poll.options"
            [choice]="poll.choice">
        </app-results>

        <!-- Option list for First Past the Post voters -->
        <app-single-choice
            *ngIf="poll.can_vote && poll.method=='fptp'"
            [options]="poll.options"
            (vote)="vote($event)">
        </app-single-choice>

        <!-- Option list for IRV, Smith/IRV, MBC, and Schulze voters -->
        <app-ranked-choice
            *ngIf="poll.can_vote && ['irv', 'smithirv', 'mbc', 'schulze'].includes(poll.method)"
            [options]="poll.options"
            [allowEquals]="poll.method == 'schulze'"
            (vote)="vote($event)">
        </app-ranked-choice>

        <!-- Option list for Approval voters -->
        <app-binary-score-choice
            *ngIf="poll.can_vote && poll.method=='approval'"
            [options]="poll.options"
            (vote)="vote($event)">
        </app-binary-score-choice>

        <!-- Option list for CAV voters -->
        <app-trinary-score-choice
            *ngIf="poll.can_vote && poll.method=='cav'"
            [options]="poll.options"
            (vote)="vote($event)">
        </app-trinary-score-choice>

        <!-- Option list for Score voters -->
        <app-senary-score-choice
            *ngIf="poll.can_vote && poll.method=='score5'"
            [options]="poll.options"
            (vote)="vote($event)">
        </app-senary-score-choice>

        <!-- Owner options -->
        <app-owner-options
            *ngIf="poll.own"
            (conclude)="finishPoll()"
            (delete)="deletePoll()"
            (setWebhook)="onSetWebhook($event)"
            (removeWebhook)="onRemoveWebhook()"
            [finished]="poll.finished"
            [voterRequest]="voters"
            [webhook]="poll.webhook">
        </app-owner-options>
    </span>

</div>
