<div class="poll main-box">
    <!-- If not authorized yet -->
    <app-auth-required *ngIf="!loggedIn"></app-auth-required>

    <!-- While still waiting for server -->
    <h2 *ngIf="!poll && !error && loggedIn">Loading...</h2>

    <!-- If an error has occured -->
    <h2 *ngIf="error">An error has occured!</h2>

    <!-- Main content -->
    <span *ngIf="poll">
        <h2>{{poll.name}}</h2>
        <p *ngIf="poll.description" class="desc">{{poll.description}}</p>

        <!-- Option list for those unable to vote. -->
        <app-nonvoter
            *ngIf="!poll.can_vote"
            [options]="poll.options"
            [choice]="poll.choice">
        </app-nonvoter>

        <!-- Option list for First Past the Post voters -->
        <app-single-choice
            *ngIf="poll.can_vote && poll.method=='fptp'"
            [options]="poll.options"
            (vote)="voteSingle($event)">
        </app-single-choice>
        <app-owner-options *ngIf="poll.own"></app-owner-options>
    </span>

</div>
