<div class="main-box">
    <h2>Voting Methods</h2>

    <p>
        Below is a description of each voting system supported by Electorate, as well as some of their strengths and weaknesses.
    </p>

    <nav>
        <a (click)="currentMethod = fptp" [class]="linkClass(fptp)">{{fptp.name}}</a>
        <a (click)="currentMethod = irv" [class]="linkClass(irv)">{{irv.name}}</a>
        <a (click)="currentMethod = mbc" [class]="linkClass(mbc)">{{mbc.name}}</a>
        <a (click)="currentMethod = schulze" [class]="linkClass(schulze)">{{schulze.name}}</a>
        <a (click)="currentMethod = approval" [class]="linkClass(approval)">{{approval.name}}</a>
        <a (click)="currentMethod = score" [class]="linkClass(score)">Score Voting</a>
        <a (click)="currentMethod = score" [class]="linkClass(score)">Combined Approval Voting</a>
        <a (click)="currentMethod = smithirv" [class]="linkClass(score)">{{smithirv.name}}</a>
    </nav>

    <app-voting-method-summary *ngIf="currentMethod else noMethod" [method]="currentMethod"></app-voting-method-summary>
    <ng-template #noMethod>
        <p>Please select a voting method.</p>
    </ng-template>
