<div class="main-box">
    <h2>Voting Methods</h2>

    <p>
        Below is a description of each voting system supported by Electorate, as well as some of their strengths and weaknesses.
    </p>

    <app-voting-method-summary [method]="fptp"></app-voting-method-summary>
    <app-voting-method-summary [method]="irv"></app-voting-method-summary>
    <app-voting-method-summary [method]="mbc"></app-voting-method-summary>
    <app-voting-method-summary [method]="score"></app-voting-method-summary>
    <app-voting-method-summary [method]="schulze"></app-voting-method-summary>
    <app-voting-method-summary [method]="approval"></app-voting-method-summary>
</div>
