<div class="main-box">
    <h2>Voting Methods</h2>

    <p>
        Below is a description of each voting system supported by Electorate, as well as some of their strengths and weaknesses.
    </p>

    <app-state-change
        [labels]="methodNames"
        [internalNames]="methodInternalNames"
        [centered]="true"
        [selected]="currentMethod"
        (changedState)="currentMethod=$event"
        >
    </app-state-change>

    <app-voting-method-summary *ngIf="currentMethod else noMethod" [method]="method(currentMethod)"></app-voting-method-summary>
    <ng-template #noMethod>
        <p>Please select a voting method.</p>
    </ng-template>
