@media screen and (min-width: 485px) {
    div.control-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
@media screen and (max-width: 485px) {
    div.control-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

label {
    color: #FFFFFF;
    margin-left: 5px;
}
select {
    font-family: Nunito, sans-serif;
    color: #FFFFFF;
    font-weight: bold;

    background-color: #7289DA;
    border: none;
    border-radius: 5px;
    padding: 5px;
    appearance: none;
    margin-bottom: 5px;
}
select:hover {
    background-color: orangered;
}
select option {
    font-weight: normal;
    background-color: #99AAB5;
}
