<div class="main-box">
    <h2>Dashboard</h2>
    <app-auth-required *ngIf="error == 401"></app-auth-required>
    <label>
        Sort by:
        <select [formControl]="sortControl" (change)="onSortChange()">
            <option value="start-asc">Creation date - Ascending</option>
            <option value="start-desc" selected>Creation date - Descending</option>
            <option value="name">Name</option>
        </select>
    </label>
    <span *ngIf="polls">
        <app-dashboard-item *ngFor="let poll of polls" [poll]="poll"></app-dashboard-item>
    </span>

    <!-- Error handling -->
    <p *ngIf="error == 0">Unable to reach server</p>
    <p *ngIf="error == 500">Server error</p>
</div>
