<ol *ngIf="isRankedChoice()">
    <li *ngFor="let option of choice" class="selected">
        <ng-container *ngIf="isArray(option); else single">
            <ul>
                <li *ngFor="let inner of option">{{inner}}</li>
            </ul>
        </ng-container>
        <ng-template #single>{{option}}</ng-template>
    </li>
</ol>
<ul>
    <li *ngFor="let option of optionList()" [class]="classesHTML(option)">
        {{option}}
        <span *ngIf="isScoreVoting()">
            - {{choice[option]}}
        </span>
    </li>
</ul>
