/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Quicksand";
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300";

body {
    background-color: #2C2F33;
    font-family: "Nunito", sans-serif;
}
.main-box {
    background-color: #23272A;
    border-radius: 15px;
    padding: 15px;
}
p {
    color: #FFFFFF;
}
