/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Quicksand";
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300";

body {
    background-color: #2C2F33;
    font-family: "Nunito", sans-serif;
}
.main-box {
    background-color: #23272A;
    border-radius: 15px;
    padding: 15px;
}
p {
    color: #FFFFFF;
}
button {
    font-family: Nunito, sans-serif;
}
button.generic-button {
    font-size: 12pt;
    color: #FFFFFF;

    background-color: #99AAB5;
    transition-duration: 0.25s;
    border: none;
    border-radius: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: fill;
    margin-right: fill;
    padding: 5px;
}

button.generic-button:hover:enabled {
    background-color: #7289DA;
}
